
@{
    ViewData["Title"] = "PayOptionCreditCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model EFood.Models.ViewModels.ShoppingCartVM
<form method="post">
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Seleccionar Tarjeta
                    </div>

                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-6 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-success">Detalles de Pago</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-9">
                                        <label>Tarjeta</label>
                                        <select asp-for="Order.CardType" id="cardTypeInput" asp-items="@Model.CardList" class="form-select">
                                            <option disabled>-- Seleccione Tarjeta --</option>
                                        </select>
                                        <span asp-validation-for="Order.CardType" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-9">
                                        <label>Numero de Tarjeta</label>
                                        <input asp-for="Order.CardNumber" id="cardNumberInput" type="text" class="form-control" />
                                        
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-9">
                                        <label>Fecha de Vencimiento</label>
                                    </div>
                                    <div class="col-4">
                                        <label>Mes</label>
                                        <select class="form-control">
                                            <option value="">Selecciona el mes</option>
                                            <option value="1">Enero</option>
                                            <option value="2">Febrero</option>
                                            <option value="3">Marzo</option>
                                            <option value="4">Abril</option>
                                            <option value="5">Mayo</option>
                                            <option value="6">Junio</option>
                                            <option value="7">Julio</option>
                                            <option value="8">Agosto</option>
                                            <option value="9">Septiembre</option>
                                            <option value="10">Octubre</option>
                                            <option value="11">Noviembre</option>
                                            <option value="12">Diciembre</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label>Año</label>
                                        <select class="form-control">
                                            <option value="">Selecciona el año</option>
                                            @for (var i = DateTime.Now.Year; i <= DateTime.Now.Year + 30; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-2">
                                        <label>CVV</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-4">

                            <button type="button" id="continueButton" class="btn btn-primary form-control">Continuar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12  p-0">
        <h3 class="text-success text-center"><i class="bi bi-cart-check-fill"></i></h3>
    </div>
    <div class="col-12 p-1">
        <div class="text-center border-0">
            <a asp-area="Inventory" asp-controller="Cart" asp-action="Index" class="btn btn-outline-success ">Regresar al Carro</a>
        </div>

    </div>
</form>

<script>
    document.getElementById('continueButton').addEventListener('click', function () {
        var cardTypeInput = document.getElementById('cardTypeInput').value;
        var cardNumberInput = document.getElementById('cardNumberInput').value;
        

        // Redireccionar al controlador con el tipo de pago seleccionado
        window.location.href = '/Inventory/Cart/SetCardInformation?cardType=' + cardTypeInput + '&cardNumber=' + cardNumberInput;
    });
</script>


