@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}



<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="row mb-3 mt-2">
                <div class="form-group col-md-6">
                    <label>Pregunta de seguridad</label>
                    <div class="form-control">
                        @ViewData["SecurityQuestion"]
                    </div>
                </div>
            </div>

            

            <div class="form-floating mb-3">
                <input asp-for="Input.SecurityAnswer" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.SecurityAnswer" class="form-label"></label>
                <span asp-validation-for="Input.SecurityAnswer" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
