@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h2 class="text-primary">Lista de usuario de los tiquetes de descuento: @ViewData["DiscountTicketName"]</h2>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-outline-primary" asp-action="Upsert" asp-route-idDiscountTicket=@ViewData["DiscountTicketId"]><i class="bi bi-plus-square-fill"></i> Agregar Usuario</a>
    </div>
</div>

<br />

<div class="p-4 border rounded bg-light">
    <table id="tblData" class="table table-responsive table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre del Tiquete</th>
                <th>Usuario</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/userDiscountTicket.js"></script>
}
